{%set . "title" "Home"%}
{%template "header.html" .%}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>It works!</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {%template "flash.html" .%}
    </div>
  </div>
</div>

{%template "footer.html" .%}
